/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.neoweb_osm_oauth_connector_notice {
    padding: 10px;
    background-color: #FF0000;
    color: #ffffff;
    border-radius: 5px;
    margin: 0;
}

.neowebNotice {
    background-color: #1B75BB;
    color: #ffffff;
    border-radius: 5px;
    margin: 10px !important;
    padding: 20px;
}

.logoWrapper {
    text-align: center;
}

.termDates {
    width:100%;
    border-collapse: collapse;
}

.termDates th,
.termDates td {
    border: 1px solid #ddd;
    padding: 8px;
}

.termDates tr:nth-child(even) {
    background-color: #ddd;
}

.termDates th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #27A9E0;
    color: white;
}

.neowebPostBoxHeader #publish {
    background-color: #1B75BB;
    border-color: #1B75BB;
}

.neowebPostBoxHeader {
    background-color: #27A9E0;
    color: #ffffff;
}

.neowebPostBoxHeader .ui-sortable-handle {
    color: #ffffff;
}

.neowebPostBoxHeader .toggle-indicator {
    color: #ffffff;
}

.neowebAccordionHeader.acf-accordion > .acf-accordion-title:hover {
    border: none;
    background: #29b473;
    color: #ffffff;
}

.neowebAccordionHeader.acf-accordion.-open > .acf-accordion-title {
    border: none;
    background: #00a69c;
    color: #ffffff;
}

.sectionHeading {
    font-size: 15px;
    font-weight: bold;
    background: #ddd;
}

.copyValue {
    height: 30px;
    background: #27A9E0;
    color: #ffffff;
    border-radius: 0 5px 5px 0;
    margin-left: -2px;
}
